* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
}
.head {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: .9rem;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.head a:hover {
    text-decoration: underline;
    color: rgb(240, 120, 140);
}
.head span {
    text-decoration-line: underline;
    text-decoration-color: rgb(240, 120, 140);
    text-decoration-thickness: 2px;
}

.subheading {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
 .left_subheading ul, .right_subheading ul {
    display: flex;
    gap: .7rem;
    align-items: center;
    list-style: none;
}
.left_subheading img {
    width: 30px;
    height: 30px;
}
.pink {
    display: block;
    padding: 15px;
    border-radius: 10px;
}
.pink:hover{
    background-color: pink;
    color:rgb(236, 73, 100) ;
}
.logo {
    display: flex;
    align-items: center;
    gap: .3rem;
}
.logo li {
   color: black;
   font-weight: 300;
}
.btn1 {
    width: 80px;
    padding: 7px;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.btn2 {
    width: 110px;
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
.btn2:hover {
    background-color: rgb(109, 109, 109);
}
.left_subheading{
    font-size: 1rem;
    padding-right: 10px;
    letter-spacing: 1px;
    color: gray;
}
.right_subheading {
    font-weight: 600;
}
.right_subheading ul li:first-child{
    padding: 10px;
    border-radius: 5px;
}
.right_subheading ul li:first-child:hover {
    background-color: rgb(227, 224, 224);
}
.subheading2 {
    width: 100%;
    height: 5vh;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.left_sidebar {
    height: 100vh;
    padding: 20px 50px;
    overflow-y: auto;
}
.left_sidebar ul {
    list-style: none;
}
.left_sidebar p {
    font-size: 1.2rem;
}
.left_sidebar li {
    padding: 15px 0px;
}
.left_sidebar a, .left_subheading a {
    color: gray;
}
.left_sidebar a:hover ,.left_subheading a:hover{
    text-decoration: underline;
}
.left_sidebar .sectn {
    background-color: pink;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: gray;
    border-left: 2px solid brown;
}
.remaining_body {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    
}
.remaining_body::-webkit-scrollbar {
    display: none;
  }
.mid_body {
    width:75%;
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
}
.mid_body img {
    margin-bottom:80px ;
}
.mid_body h1 {
    padding-top: 50px;
}
.mid_body p,.mid_body li {
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding: 20px;
}
.mid_body a {
    color: slateblue;
    text-decoration: underline;
}
.mid_body a:hover {
    text-decoration: none;
}
.contentbox {
    width: 100%;
    background-color: rgb(238, 235, 235);
}
.green {
    color: rgb(4, 134, 4);
}
.red {
    color: rgb(210, 8, 8);
}
.right_bar {
    position: sticky;
    top: 0px;
}
.right_bar p {
    padding-top: 50px;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-left: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.right_bar li {
list-style: none;
font-size: 1rem;
color: gray;
line-height: 1.3rem;
padding: 10px;
}
.right_bar li:hover {
    color: rgb(132, 117, 229);
}
.right_bar ul {
    border-left: 1px solid gray;
}
footer {
    /* margin-top: 80px; */
    height: 50vh;
    width: 100%;
    background-color: #f4f4f8;
}
.upper_footer {
    display: flex;
    color: rgb(89, 88, 88);
    border-bottom: 1px solid #ccc;
    
}
.left_footer {
    padding: 2rem 4rem;
}
.left_footer h1 {
    padding-bottom: 10px;
}
.fa-brands {
    color: rgb(97, 96, 96);
}
.icon {
    padding-top: 30px;
}
.icon a {
    padding-right: 15px;
}
.right_footer {
    margin-left: 5rem;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    font-size: 15px;
    padding: 2rem 4rem;
    
}
.right_footer li {
    list-style: none;
    margin-bottom: 15px;
}
.right_footer li:first-child {
    font-size: 17px;
}
.right_footer a {
    color: gray;
}
.lower_footer_up {
   padding: 20px;
   display: flex;
   align-items: center;
   gap: 1.5rem;
}
.lower_footer a {
    color: rgb(97, 96, 96);
    font-size: 12px;
    text-decoration-line:underline ;
}
.lower_footer a:hover {
    text-decoration: none;
}
.lower_footer p {
    color: rgb(97, 96, 96);
    font-size: 12px;
    padding: 30px 20px;
}