* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
}
.head {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: .9rem;
    font-size: 1.1rem;
    font-family: sans-serif;
}
.head a:hover {
    text-decoration: underline;
    color: rgb(240, 120, 140);
}
.head span {
    text-decoration: underline;
}

.subheading {
    width: 100%;
    height: 9vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
 .left_subheading ul, .right_subheading ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
}
.btn1 {
    width: 80px;
    padding: 7px;
    border-radius: 25px;
    border: 1px solid #ccc;
}
.btn2 {
    width: 110px;
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
}
.left_subheading{
    font-size: 1rem;
    color: gray;
}
.right_subheading {
    font-weight: 600;
}
.subheading2 {
    width: 100%;
    height: 5vh;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.left_sidebar {
    height: 100vh;
    padding: 20px 50px;
    overflow-y: auto;
}
.left_sidebar ul {
    list-style: none;
}
.left_sidebar p {
    font-size: 1.2rem;
}
.left_sidebar li {
    padding: 15px 0px;
}
.left_sidebar a {
    color: gray;
}
.left_sidebar a:hover {
    text-decoration: underline;
}
.left_sidebar .sectn {
    background-color: pink;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    color: gray;
    border-left: 2px solid brown;
}
.remaining_body {
    display: flex;
    height: 100vh;
    overflow-y: scroll;
    
}
.remaining_body::-webkit-scrollbar {
    display: none;
  }
.mid_body {
    width:75%;
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
}
.mid_body img {
    margin-bottom:80px ;
}
.mid_body h1 {
    padding-top: 50px;
}
.mid_body p,.mid_body li {
    font-size: 1.1rem;
    line-height: 1.8rem;
    padding: 20px;
}
.mid_body a {
    color: slateblue;
    text-decoration: underline;
}
.mid_body a:hover {
    text-decoration: none;
}
.contentbox {
    width: 100%;
    background-color: rgb(238, 235, 235);
}
.green {
    color: rgb(4, 134, 4);
}
.red {
    color: rgb(210, 8, 8);
}
.right_bar {
    position: sticky;
    top: 0px;
}
.right_bar p {
    padding-top: 50px;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-left: 10px;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.right_bar li {
list-style: none;
font-size: 1rem;
color: gray;
line-height: 1.3rem;
padding: 10px;
}
.right_bar ul {
    border-left: 1px solid gray;
}
footer {
    /* margin-top: 80px; */
    height: 50vh;
    width: 100%;
    background-color: rgb(237, 242, 247);
}